.page-success{
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.content{
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
